@font-face {
    font-family: 'BaarSophia';
    src: url('assets/font/BaarSophia-lg4Z.ttf') format ('truetype');
}

/****FONT****/
body {
    /**font-family: 'Open Sans', sans-serif;**/
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    letter-spacing: 0px;
    word-spacing: 0.3px;
    line-height: 20px;
    font-weight: 200;
}

main article p strong {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1.2em;
}

.attention {
    font-size: 2em;
    line-height: 2em;
    font-weight: 900;
    color: lightgreen;
    animation: pulse 0.55s infinite alternate ease-in-out;
    text-shadow: 
        -2px -2px 0 black, /* Oben links */
         2px -2px 0 black, /* Oben rechts */
        -2px  2px 0 black, /* Unten links */
         2px  2px 0 black, /* Unten rechts */
        -2px  0px 0 black, /* Links */
         2px  0px 0 black, /* Rechts */
         0px -2px 0 black, /* Oben */
         0px  2px 0 black; /* Unten */

}

@keyframes pulse {
    0% {
        transform: scale(.97);
    }
    100% {
        transform: scale(1.02);
    }
}

.ticket-col {
    position: relative;
     /* Stellt sicher, dass das span-Element relativ dazu verschoben werden kann */
}

.ticket-col span {
    font-size: 2em;
    line-height: 2em;
    font-weight: 900;
    color: lightgreen;

    text-shadow: 
        -2px -2px 0 black, /* Oben links */
         2px -2px 0 black, /* Oben rechts */
        -2px  2px 0 black, /* Unten links */
         2px  2px 0 black, /* Unten rechts */
        -2px  0px 0 black, /* Links */
         2px  0px 0 black, /* Rechts */
         0px -2px 0 black, /* Oben */
         0px  2px 0 black; /* Unten */

    
    animation: pulse 0.55s infinite alternate ease-in-out;
    position: absolute;
    
    /* Manuelle Verschiebung */
    top: -54px;  /* Nach oben */
    right: -12px;  /* Nach rechts */

    /* Rotation */
    transform: rotate(-10deg);
    transform-origin: center;  /* Optional, falls du den Ursprung der Rotation anpassen möchtest */

}

h3 {
    margin: inherit;
}

.ticket-col > h3 {
    margin: 0px;
}
p.datum {
    font-size: 12px;
}
.text-l {
    text-align: left;
}

.text-r {
    text-align: right;
}

.text-c {
    text-align: center;
}

.text-block {
    text-align: justify;
}

.text-bold {
    font-weight: bold;
    /* normal -> keine Fette  */
}

.text-light {
    font-weight: lighter;
    /* normal -> keine Fette  */
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-overline {
    text-decoration: overline;
}

.text-linetrough {
    text-decoration: line-through;
}

.text-wordspace {
    word-spacing: 10px;
}

.text-letterspace {
    letter-spacing: 0.3px;
}

.text-lineheight {
    line-height: 22px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-firstletter::first-line {
    color: red;
    font-size: 36px;
}

.text-firstline::first-line {
    font-weight: 900;
}

.corner-all {
    border-radius: 4px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-clear-both {
    clear: both;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#banner a:hover {
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-rev {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-evenly {
    justify-content: space-evenly;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-between {
    justify-content: space-between;
}
.flex-justify-end {
    justify-content: flex-end;
}

.flex-align-center {
    align-items: center;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-rev {
    flex-wrap: wrap-reverse;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

/**** BTNS *****/

.cta-btns {
    height: 102px;
    z-index: 1;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cta-btns a {
    margin: 0 16px 10px;
    width: 140px;
    align-content: center;
    justify-content: center;
    
} 
a.btn,
button.btn {
    display: inline-block;
    color: black;
    background: lightpink;
    border-width: 0px;
    border-style: solid;
    border-radius: 40px;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    min-width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a.btn i {
    margin: 0 4px 0 0;
}
a.btn-highlight {
    background: lightgreen;
}

.btn-row a.btn {
    margin: 20px 0 0 20px;
}
.btn-row {
    flex-wrap: wrap;
}

a.btn:hover,
button.btn:hover {
    transition: background 1s;
    background: linear-gradient(45deg, rgba(255, 227, 0, 1) 0%, rgba(255, 245, 163, 1) 50%, rgba(255, 227, 0, 1) 100%);
    cursor: pointer;
}

textarea {
    resize: vertical;
    overflow: auto;
}

/********************* MEDIA QUERIES *************************/
/***** tablet *****/

@media only screen and (min-width: 768px) {
    body {
        font-size: 16px;
        letter-spacing: 0.2px;
        word-spacing: 0.5px;
        line-height: 24px;
        font-weight: 100;
    }
    /***** BTNS*****/
    .cta-btns {
        flex-direction: row;
        margin-bottom: 0px;
    }

    .ticket-col span {
        font-size: 1.5em;
        line-height: 1.5em;
        top: -24px;  /* Nach oben */
        right: -12px;  /* Nach rechts */
    }

}

/* Desktop */

@media only screen and (min-width: 1024px) {
    .ticket-col span {
        font-size: 1.5em;
        line-height: 1.5em;
        top: -24px;  /* Nach oben */
        right: -32px;  /* Nach rechts */
    }

}